.top {
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="file"] {
  display: none;
}

.choose {
  background-color: initial;
  background-image: linear-gradient(-180deg, #5aff15, #00b712);
  border-radius: 6px;
  color: #ffffff;
  padding: 17px 10px;
  border-radius: 6px;
  margin-right: 10px;
  padding-bottom: 10px;
}

.choose:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}

.textArea {
  color: white;
}

.upload {
  border: 1px solid #13aa52;
  background-color: #13aa52;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 6px;
  margin-left: 215px;
  margin-top: 15px;
}

.upload:hover {
  border: 1px solid #13aa52;
  background-color: #a5efc1;
  color: #ffffff;
  padding: 5px 10px;

}

.upload:disabled,
.upload[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.top {
  padding: 5px 10px;
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.contain {
  height: 100vh;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #fcfcfc;
}

.CARD {
  border-radius: 10px;
  box-shadow:  0 3px 12px 0 rgb(85 146 205);
  width: 600px;
  margin: 45px auto;
  height: 280px;
  background-color: #040c18;
  padding: 10px 30px 40px;
}

.CARD h3 {
  font-size: 22px;
  font-weight: 600;
  justify-content: center;
  margin-top: 5px;
  display: flex;
}

.drop_box {
  margin: -3px 0;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px dotted #a3a3a3;
  border-radius: 5px;
}

.drop_box h4 {
  font-size: 16px;
  font-weight: 400;
  color: #2e2e2e;
}

.drop_box p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #a3a3a3;
}

.btn {
  text-decoration: none;
  background-color: #005af0;
  color: #ffffff;
  border: 2px solid black;
  border-radius: 11px;
  padding: 7px 20px;
  margin-top: 11px;
  outline: none;
  transition: 0.3s;
}

.btn:hover{
  text-decoration: none;
  background-color: #ffffff;
  color: #005af0;
  padding: 10px 20px;
  border: none;
  outline: 1px solid #010101;
}
.form input {
  margin: 10px 0;
  width: 100%;
  background-color: #e2e2e2;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 4px;
}